interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://data.wa.gov/resource/3h9x-7bvm.json?office=STATE+REPRESENTATIVE&election_year=2024&%24where=general_election_status%3D%27Won+in+general%27&%24limit=5000
  response:
    body:
      string: '[{"id":"ca-2024-689012","filer_id":"PETES  026","filer_type":"CA","registered":"2023-01-02T00:00:00.000","declared":"2024-05-06T00:00:00.000","filing_type":"Electronic","receipt_date":"2023-01-02T00:00:00.000","election_year":"2024","candidate_committee_status":"Candidate
        declared","filer_name":"Strom Peterson","committee_address":"PO Box 3057","committee_city":"Edmonds","committee_county":"SNOHOMISH","committee_state":"WA","committee_zip":"98020","committee_email":"votestrom@gmail.com","candidate_email":"votestrom@gmail.com","candidate_committee_phone":"206-799-7363","office":"STATE
        REPRESENTATIVE","office_code":"13","jurisdiction":"LEG DISTRICT 21 - HOUSE","jurisdiction_code":"4819","jurisdiction_county":"SNOHOMISH","jurisdiction_type":"Legislative","jurisdiction_voters":"92513","jurisdiction_reporting_code":"C","jurisdiction_reporting_requirement":"Registration
        and financial affairs","committee_category":"Candidate","political_committee_type":"Candidate","position":"1","election_date":"2024-11-05T00:00:00.000","reporting_option":"full","active_candidate":true,"on_primary_election_ballot":true,"on_general_election_ballot":true,"primary_election_status":"Qualified
        for general","general_election_status":"Won in general","treasurer_address":"349
        16th Ave E #60","treasurer_city":"Seattle","treasurer_state":"WA","treasurer_zip":"98112","treasurer_phone":"206-218-3108","has_reports":true,"contributions_amount":"101138.78","carryforward_amount":"10541.48","expenditures_amount":"105419.14","loans_amount":"0.0","pledges_amount":"0.0","debts_amount":"0.0","independent_expenditures_for_amount":"1945.40","independent_expenditures_against_amount":"0","url":{"url":"https://my.pdc.wa.gov/registration/public/-/#/public/registration/50228"},"committee_id":"31527","person_id":"159","candidacy_id":"689012","fund_id":"19991","legislative_district":"21","treasurer_name":"Abbot
        Taylor","pac_type":"candidate","updated_at":"2025-11-06T13:38:26.000"}

        ,{"id":"ca-2024-689025","filer_id":"BROND--784","filer_type":"CA","registered":"2023-01-03T00:00:00.000","declared":"2024-05-06T00:00:00.000","filing_type":"Electronic","receipt_date":"2023-01-03T00:00:00.000","election_year":"2024","candidate_committee_status":"Candidate
        declared","filer_name":"Daniel A. Bronoske (Dan Bronoske)","committee_address":"PO
        Box 39408","committee_city":"Lakewood","committee_county":"PIERCE","committee_state":"WA","committee_zip":"98496","committee_email":"dan@danbronoske.com","candidate_email":"dan@danbronoske.com","candidate_committee_phone":"253-561-7855","office":"STATE
        REPRESENTATIVE","office_code":"13","jurisdiction":"LEG DISTRICT 28 - HOUSE","jurisdiction_code":"4833","jurisdiction_county":"PIERCE","jurisdiction_type":"Legislative","jurisdiction_voters":"79415","jurisdiction_reporting_code":"C","jurisdiction_reporting_requirement":"Registration
        and financial affairs","committee_category":"Candidate","political_committee_type":"Candidate","position":"2","party_code":"D","party":"DEMOCRATIC","election_date":"2024-11-05T00:00:00.000","reporting_option":"full","active_candidate":true,"on_primary_election_ballot":true,"on_general_election_ballot":true,"primary_election_status":"Qualified
        for general","general_election_status":"Won in general","treasurer_address":"349
        16th Ave E #60","treasurer_city":"Seattle","treasurer_state":"WA","treasurer_zip":"98112","treasurer_phone":"206-218-3108","has_reports":true,"contributions_amount":"200911.08","carryforward_am[...]
