interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://data.wa.gov/resource/3h9x-7bvm.json?office=STATE+SENATOR&election_year=2024&%24where=general_election_status%3D%27Won+in+general%27&%24limit=5000
  response:
    body:
      string: '[{"id":"ca-2024-93055","filer_id":"FRANT  464","filer_type":"CA","registered":"2021-01-04T00:00:00.000","declared":"2024-05-06T00:00:00.000","filing_type":"Electronic","receipt_date":"2021-01-04T00:00:00.000","election_year":"2024","candidate_committee_status":"Candidate
        declared","filer_name":"T''wina Nobles","committee_address":"PO Box 65905","committee_city":"University
        Place","committee_county":"PIERCE","committee_state":"WA","committee_zip":"98464","committee_email":"info@twinanobles.com","candidate_email":"info@twinanobles.com","candidate_committee_phone":"253-882-7810","office":"STATE
        SENATOR","office_code":"12","jurisdiction":"LEG DISTRICT 28 - SENATE","jurisdiction_code":"4757","jurisdiction_county":"PIERCE","jurisdiction_type":"Legislative","jurisdiction_voters":"79415","jurisdiction_reporting_code":"C","jurisdiction_reporting_requirement":"Registration
        and financial affairs","committee_category":"Candidate","political_committee_type":"Candidate","party_code":"D","party":"DEMOCRATIC","election_date":"2024-11-05T00:00:00.000","reporting_option":"full","active_candidate":true,"on_primary_election_ballot":true,"on_general_election_ballot":true,"primary_election_status":"Qualified
        for general","general_election_status":"Won in general","treasurer_address":"PO
        Box 9100","treasurer_city":"Seattle","treasurer_state":"WA","treasurer_zip":"98109","treasurer_phone":"206.745.2010","has_reports":true,"contributions_amount":"377952.95","carryforward_amount":"13296.72","expenditures_amount":"364313.18","loans_amount":"0.0","pledges_amount":"0.0","debts_amount":"25670.00","independent_expenditures_for_amount":"42832.75","independent_expenditures_against_amount":"6517.35","url":{"url":"https://my.pdc.wa.gov/registration/public/-/#/public/registration/42930"},"committee_id":"26362","person_id":"11450","candidacy_id":"93055","fund_id":"17275","legislative_district":"28","treasurer_name":"Jason
        Bennett","pac_type":"candidate","updated_at":"2025-05-15T17:45:54.000"}

        ,{"id":"ca-2024-93008","filer_id":"SCHOM  169","filer_type":"CA","registered":"2020-11-25T00:00:00.000","declared":"2024-05-06T00:00:00.000","filing_type":"Electronic","receipt_date":"2020-11-25T00:00:00.000","election_year":"2024","candidate_committee_status":"Candidate
        declared","filer_name":"Mark Schoesler (Mark G. Schoesler)","committee_address":"1588
        E ROSENOFF RD","committee_city":"RITZVILLE","committee_county":"WHITMAN","committee_state"[...]
