interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://wslwebservices.leg.wa.gov/CommitteeService.asmx?wsdl
  response:
    body:
      string: "<?xml version=\"1.0\" encoding=\"utf-8\"?>\r\n<wsdl:definitions xmlns:s=\"http://www.w3.org/2001/XMLSchema\"
        xmlns:soap12=\"http://schemas.xmlsoap.org/wsdl/soap12/\" xmlns:http=\"http://schemas.xmlsoap.org/wsdl/http/\"
        xmlns:mime=\"http://schemas.xmlsoap.org/wsdl/mime/\" xmlns:tns=\"http://WSLWebServices.leg.wa.gov/\"
        xmlns:soap=\"http://schemas.xmlsoap.org/wsdl/soap/\" xmlns:tm=\"http://microsoft.com/wsdl/mime/textMatching/\"
        xmlns:soapenc=\"http://schemas.xmlsoap.org/soap/encoding/\" targetNamespace=\"http://WSLWebServices.leg.wa.gov/\"
        xmlns:wsdl=\"http://schemas.xmlsoap.org/wsdl/\">\r\n  <wsdl:documentation
        xmlns:wsdl=\"http://schemas.xmlsoap.org/wsdl/\">Information on committees
        of the Washington State Legislature.</wsdl:documentation>\r\n  <wsdl:types>\r\n
        \   <s:schema elementFormDefault=\"qualified\" targetNamespace=\"http://WSLWebServices.leg.wa.gov/\">\r\n
        \     <s:element name=\"GetCommittees\">\r\n        <s:complexType>\r\n          <s:sequence>\r\n
        \           <s:element minOccurs=\"0\" maxOccurs=\"1\" name=\"biennium\" type=\"s:string\"
        />\r\n          </s:sequence>\r\n        </s:complexType>\r\n      </s:element>\r\n
        \     <s:element name=\"GetCommitteesResponse\">\r\n        <s:complexType>\r\n
        \         <s:sequence>\r\n            <s:element minOccurs=\"0\" maxOccurs=\"1\"
        name=\"GetCommitteesResult\" type=\"tns:ArrayOfCommittee\" />\r\n          </s:sequence>\r\n
        \       </s:complexType>\r\n      </s:element>\r\n      <s:complexType name=\"ArrayOfCommittee\">\r\n
        \       <s:sequence>\r\n          <s:element minOccurs=\"0\" maxOccurs=\"unbounded\"
        name=\"Committee\" nillable=\"true\" type=\"tns:Committee\" />\r\n        </s:sequence>\r\n
        \     </s:complexType>\r\n      <s:complexType name=\"Committee\">\r\n        <s:complexContent
        mixed=\"false\">\r\n          <s:extension base=\"tns:LegislativeEntity\">\r\n
        \           <s:sequence>\r\n              <s:element minOccurs=\"0\" maxOccurs=\"1\"
        name=\"Phone\" type=\"s:string\" />\r\n            </s:sequence>\r\n          </s:extension>\r\n
        \       </s:complexContent>\r\n      </s:complexType>\r\n      <s:complexType
        name=\"LegislativeEntity\">\r\n        <s:sequence>\r\n          <s:element
        minOccurs=\"1\" maxOccurs=\"1\" name=\"Id\" type=\"s:int\" />\r\n          <s:element
  [...]
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <soap-env:Envelope xmlns:soap-env="http://schemas.xmlsoap.org/soap/envelope/"><soap-env:Body><ns0:GetActiveCommitteeMembers
      xmlns:ns0="http://WSLWebServices.leg.wa.gov/"><ns0:agency>Senate</ns0:agency><ns0:committeeName>Ways
      &amp; Means</ns0:committeeName></ns0:GetActiveCommitteeMembers></soap-env:Body></soap-env:Envelope>'
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      SOAPAction:
      - '"http://WSLWebServices.leg.wa.gov/GetActiveCommitteeMembers"'
    method: POST
    uri: https://wslwebservices.leg.wa.gov/CommitteeService.asmx
  response:
    body:
      string: "<?xml version=\"1.0\" encoding=\"utf-8\"?><soap:Envelope xmlns:soap=\"http://schemas.xmlsoap.org/soap/envelope/\"
        xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\" xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\"><soap:Body><GetActiveCommitteeMembersResponse
        xmlns=\"http://WSLWebServices.leg.wa.gov/\"><GetActiveCommitteeMembersResult><Member><Id>18265</Id><Name>June
        Robinson</Name><LongName>Senator Robinson</LongName><Agency>Senate</Agency><Acronym>ROBI</Acronym><Party>Democrat</Party><District>38</District><Phone>(360)
        786-7674</Phone><Email>june.robinson@leg.wa.gov</Email><FirstName>June</FirstName><LastName>Robinson</LastName></Member><Member><Id>15809</Id><Name>Derek
        Stanford</Name><LongName>Senator Stanford</LongName><Agency>Senate</Agency><Acronym>STAN</Acronym><Party>Democrat</Party><District>1</District><Phone>(360)
        786-7600</Phone><Email>derek.stanford@leg.wa.gov</Email><FirstName>Derek</FirstName><LastName>Stanford</LastName></Member><Member><Id>20732</Id><Name>Yasmin
        Trudeau</Name><LongName>Senator Trudeau</LongName><Agency>Senate</Agency><Acronym>TRUD</Acronym><Part[...]
