interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://wslwebservices.leg.wa.gov/CommitteeMeetingService.asmx?wsdl
  response:
    body:
      string: "<?xml version=\"1.0\" encoding=\"utf-8\"?>\r\n<wsdl:definitions xmlns:s=\"http://www.w3.org/2001/XMLSchema\"
        xmlns:soap12=\"http://schemas.xmlsoap.org/wsdl/soap12/\" xmlns:http=\"http://schemas.xmlsoap.org/wsdl/http/\"
        xmlns:mime=\"http://schemas.xmlsoap.org/wsdl/mime/\" xmlns:tns=\"http://WSLWebServices.leg.wa.gov/\"
        xmlns:soap=\"http://schemas.xmlsoap.org/wsdl/soap/\" xmlns:tm=\"http://microsoft.com/wsdl/mime/textMatching/\"
        xmlns:soapenc=\"http://schemas.xmlsoap.org/soap/encoding/\" targetNamespace=\"http://WSLWebServices.leg.wa.gov/\"
        xmlns:wsdl=\"http://schemas.xmlsoap.org/wsdl/\">\r\n  <wsdl:documentation
        xmlns:wsdl=\"http://schemas.xmlsoap.org/wsdl/\">Information on committee meetings
        of the Washington State Legislature.</wsdl:documentation>\r\n  <wsdl:types>\r\n
        \   <s:schema elementFormDefault=\"qualified\" targetNamespace=\"http://WSLWebServices.leg.wa.gov/\">\r\n
        \     <s:element name=\"GetCommitteeMeetings\">\r\n        <s:complexType>\r\n
        \         <s:sequence>\r\n            <s:element minOccurs=\"1\" maxOccurs=\"1\"
        name=\"beginDate\" type=\"s:dateTime\" />\r\n            <s:element minOccurs=\"1\"
        maxOccurs=\"1\" name=\"endDate\" type=\"s:dateTime\" />\r\n          </s:sequence>\r\n
        \       </s:complexType>\r\n      </s:element>\r\n      <s:element name=\"GetCommitteeMeetingsResponse\">\r\n
        \       <s:complexType>\r\n          <s:sequence>\r\n            <s:element
        minOccurs=\"0\" maxOccurs=\"1\" name=\"GetCo[...]
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <soap-env:Envelope xmlns:soap-env="http://schemas.xmlsoap.org/soap/envelope/"><soap-env:Body><ns0:GetCommitteeMeetings
      xmlns:ns0="http://WSLWebServices.leg.wa.gov/"><ns0:beginDate>2024-01-16T00:00:00</ns0:beginDate><ns0:endDate>2024-01-16T23:59:59</ns0:endDate></ns0:GetCommitteeMeetings></soap-env:Body></soap-env:Envelope>'
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      SOAPAction:
      - '"http://WSLWebServices.leg.wa.gov/GetCommitteeMeetings"'
    method: POST
    uri: https://wslwebservices.leg.wa.gov/CommitteeMeetingService.asmx
  response:
    body:
      string: '<?xml version="1.0" encoding="utf-8"?><soap:Envelope xmlns:soap="http://schemas.xmlsoap.org/soap/envelope/"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema"><soap:Body><GetCommitteeMeetingsResponse
        xmlns="http://WSLWebServices.leg.wa.gov/"><GetCommitteeMeetingsResult><CommitteeMeeting><AgendaId>31606</AgendaId><Agency>Senate</Agency><Committees><Committee><Id>456</Id><Name>Ways
        &amp; Means</Name><LongName>Senate Ways &amp; Means</LongName><Agency>Senate</Agency><Acronym>WM</Acronym><Phone
        /></Committee></Committees><Room>Senate Hearing Rm 4 and Virtual</Room><Building>J.A.
        Cherberg Building</Building><Address>Olympia, WA</Address><City>Olympia</City><State>WA</State><ZipCode>0</ZipCode><Date>2024-01-16T16:00:00</Date><Cancelled>false</Cancelled><RevisedDate>0001-01-01T00:00:00</RevisedDate><ContactInformation
        /><CommitteeType>Full Committee</CommitteeType><Notes>Possible executive session
        on bills heard in committee. Possible other business.


        See https://app.leg.wa.gov/CSI/Senate for testimony options. To view committee
        meetings or access the committee meeting documents, visit the Legislature''s
        committee schedules, agendas, and documents website:  https://app.leg.wa.gov/committeeschedules</Notes></CommitteeMeeting><CommitteeMeeting><AgendaId>31614</AgendaId><Agency>Senate</Agency><Committees><Committee><Id>28243</Id><Na[...]
