interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://wslwebservices.leg.wa.gov/CommitteeService.asmx?wsdl
  response:
    body:
      string: "<?xml version=\"1.0\" encoding=\"utf-8\"?>\r\n<wsdl:definitions xmlns:s=\"http://www.w3.org/2001/XMLSchema\"
        xmlns:soap12=\"http://schemas.xmlsoap.org/wsdl/soap12/\" xmlns:http=\"http://schemas.xmlsoap.org/wsdl/http/\"
        xmlns:mime=\"http://schemas.xmlsoap.org/wsdl/mime/\" xmlns:tns=\"http://WSLWebServices.leg.wa.gov/\"
        xmlns:soap=\"http://schemas.xmlsoap.org/wsdl/soap/\" xmlns:tm=\"http://microsoft.com/wsdl/mime/textMatching/\"
        xmlns:soapenc=\"http://schemas.xmlsoap.org/soap/encoding/\" targetNamespace=\"http://WSLWebServices.leg.wa.gov/\"
        xmlns:wsdl=\"http://schemas.xmlsoap.org/wsdl/\">\r\n  <wsdl:documentation
        xmlns:wsdl=\"http://schemas.xmlsoap.org/wsdl/\">Information on committees
        of the Washington State Legislature.</wsdl:documentation>\r\n  <wsdl:types>\r\n
        \   <s:schema elementFormDefault=\"qualified\" targetNamespace=\"http://WSLWebServices.leg.wa.gov/\">\r\n
        \     <s:element name=\"GetCommittees\">\r\n        <s:complexType>\r\n          <s:sequence>\r\n
        \           <s:element minOccurs=\"0\" maxOccurs=\"1\" name=\"biennium\" type=\"s:string\"
        />\r\n          </s:sequence>\r\n        </s:complexType>\r\n      </s:element>\r\n
        \     <s:element name=\"GetCommitteesResponse\">\r\n        <s:complexType>\r\n
        \         <s:sequence>\r\n            <s:element minOccurs=\"0\" maxOccurs=\"1\"
        name=\"GetCommitteesResult\" type=\"tns:ArrayOfCommittee\" />\r\n          </s:sequence>\r\n
        \       </s:complexType>\r\n      </s:element>\r\n      <s:complexType name=\"ArrayOfCommittee\">\r\n
        \       <s:sequence>\r\n          <s:element minOccurs=\"0\" maxOccurs=\"unbounded\"
        name=\"Committee\" nillable=\"true\" type=\"tns:Committee\" />\r\n        </s:sequence>\r\n
        \     </s:complexType>\r\n      <s:complexType name=\"Committee\">\r\n        <s:complexContent
        mixed=\"false\">\r\n          <s:extension base=\"tns:LegislativeEntity\">\r\n
        \           <s:sequence>\r\n              <s:element minOccurs=\"0\" maxOccurs=\"1\"
        name=\"Phone\" type=\"s:string\" />\r\n            </s:sequence>\r\n          </s:extension>\r\n
        \       </s:complexContent>\r\n      </s:complexType>\r\n      <s:complexType
        name=\"LegislativeEntity\">\r\n        <s:sequence>\r\n          <s:element
        minOccurs=\"1\" maxOccurs=\"1\" name=\"Id\" type=\"s:int\" />\r\n          <s:element
  [...]
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <soap-env:Envelope xmlns:soap-env="http://schemas.xmlsoap.org/soap/envelope/"><soap-env:Body><ns0:GetCommitteeMembers
      xmlns:ns0="http://WSLWebServices.leg.wa.gov/"><ns0:biennium>2013-14</ns0:biennium><ns0:agency>Senate</ns0:agency><ns0:committeeName>Ways
      &amp; Means</ns0:committeeName></ns0:GetCommitteeMembers></soap-env:Body></soap-env:Envelope>'
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      SOAPAction:
      - '"http://WSLWebServices.leg.wa.gov/GetCommitteeMembers"'
    method: POST
    uri: https://wslwebservices.leg.wa.gov/CommitteeService.asmx
  response:
    body:
      string: <?xml version="1.0" encoding="utf-8"?><soap:Envelope xmlns:soap="http://schemas.xmlsoap.org/soap/envelope/"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema"><soap:Body><GetCommitteeMembersResponse
        xmlns="http://WSLWebServices.leg.wa.gov/"><GetCommitteeMembersResult><Member><Id>15781</Id><Name>Andy
        Hill</Name><LongName>Senator Hill</LongName><Agency>Senate</Agency><Acronym>HILL</Acronym><Party>Republican</Party><District>45</District><Phone>(360)
        786-7672</Phone><Email>Andy.Hill@leg.wa.gov</Email><FirstName>Andy</FirstName><LastName>Hill</LastName></Member><Member><Id>15780</Id><Name>Michael
        Baumgartner</Name><LongName>Senator Baumgartner</LongName><Agency>Senate</Agency><Acronym>BAUM</Acronym><Party>Republican</Party><District>6</District><Phone>(360)
        786-7610</Phone><Email>Michael.Baumgartner@leg.wa.gov</Email><FirstName>Michael</FirstName><LastName>Baumgartner</LastName></Member><Member><Id>1577</Id><Name>Jim
        Honeyford</Name><LongName>Senator Honeyford</LongName><Agency>Senate</Agency><Acronym>HON[...]
