interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://wslwebservices.leg.wa.gov/SponsorService.asmx?wsdl
  response:
    body:
      string: "<?xml version=\"1.0\" encoding=\"utf-8\"?>\r\n<wsdl:definitions xmlns:s=\"http://www.w3.org/2001/XMLSchema\"
        xmlns:soap12=\"http://schemas.xmlsoap.org/wsdl/soap12/\" xmlns:http=\"http://schemas.xmlsoap.org/wsdl/http/\"
        xmlns:mime=\"http://schemas.xmlsoap.org/wsdl/mime/\" xmlns:tns=\"http://WSLWebServices.leg.wa.gov/\"
        xmlns:soap=\"http://schemas.xmlsoap.org/wsdl/soap/\" xmlns:tm=\"http://microsoft.com/wsdl/mime/textMatching/\"
        xmlns:soapenc=\"http://schemas.xmlsoap.org/soap/encoding/\" targetNamespace=\"http://WSLWebServices.leg.wa.gov/\"
        xmlns:wsdl=\"http://schemas.xmlsoap.org/wsdl/\">\r\n  <wsdl:documentation
        xmlns:wsdl=\"http://schemas.xmlsoap.org/wsdl/\">Information on sponsors of
        legislation in the Washington State Legislature.</wsdl:documentation>\r\n
        \ <wsdl:types>\r\n    <s:schema elementFormDefault=\"qualified\" targetNamespace=\"http://WSLWebServices.leg.wa.gov/\">\r\n
        \     <s:element name=\"GetSponsors\">\r\n        <s:complexType>\r\n          <s:sequence>\r\n
        \           <s:element minOccurs=\"0\" maxOccurs=\"1\" name=\"biennium\" type=\"s:string\"
        />\r\n          </s:sequence>\r\n        </s:complexType>\r\n      </s:element>\r\n
        \     <s:element name=\"GetSponsorsResponse\">\r\n        <s:complexType>\r\n
        \         <s:sequence>\r\n            <s:element minOccurs=\"0\" maxOccurs=\"1\"
        name=\"GetSponsorsResult\" type=\"tns:ArrayOfMember\" />\r\n          </s:sequence>\r\n
        \       </s:complexType>\r\n      </s:element>\r\n      <s:complexType name=\"ArrayOfMember\">\r\n
        \       <s:sequence>\r\n          <s:element minOccurs=\"0\" maxOccurs=\"unbounded\"
        name=\"Member\" nillable=\"true\" type=\"tns:Member\" />\r\n        </s:sequence>\r\n
        \     </s:complexType>\r\n      <s:complexType name=\"Member\">\r\n        <s:complexContent
        mixed=\"false\">\r\n          <s:extension base=\"tns:LegislativeEntity\">\r\n
        \           <s:sequence>\r\n              <s:element minOccurs=\"0\" maxOccurs=\"1\"
        name=\"Party\" type=\"s:string\" />\r\n              <s:element minOccurs=\"0\"
        maxOccurs=\"1\" name=\"District\" type=\"s:string\" />\r\n              <s:element
        minOccurs=\"0\" maxOccurs=\"1\" name=\"Phone\" type=\"s:string\" />\r\n              <s:element
        minOccurs=\"0\" maxOccurs=\"1\" name=\"Email\" type=\"s:string\" />\r\n         [...]
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <soap-env:Envelope xmlns:soap-env="http://schemas.xmlsoap.org/soap/envelope/"><soap-env:Body><ns0:GetSponsors
      xmlns:ns0="http://WSLWebServices.leg.wa.gov/"><ns0:biennium>2025-26</ns0:biennium></ns0:GetSponsors></soap-env:Body></soap-env:Envelope>'
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      SOAPAction:
      - '"http://WSLWebServices.leg.wa.gov/GetSponsors"'
    method: POST
    uri: https://wslwebservices.leg.wa.gov/SponsorService.asmx
  response:
    body:
      string: "<?xml version=\"1.0\" encoding=\"utf-8\"?><soap:Envelope xmlns:soap=\"http://schemas.xmlsoap.org/soap/envelope/\"
        xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\" xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\"><soap:Body><GetSponsorsResponse
        xmlns=\"http://WSLWebServices.leg.wa.gov/\"><GetSponsorsResult><Member><Id>31526</Id><Name>Peter
        Abbarno</Name><LongName>Representative Abbarno</LongName><Agency>House</Agency><Acronym>ABBA</Acronym><Party>R</Party><District>20</District><Phone>(360)
        786-7896</Phone><Email>Peter.Abbarno@leg.wa.gov</Email><FirstName>Peter</FirstName><LastName>Abbarno</LastName></Member><Member><Id>35407</Id><Name>Hunter
        Abell</Name><LongName>Representative Abell</LongName><Agency>House</Agency><Acronym>ABEL</Acronym><Party>R</Party><District>7</District><Phone>(360)
        786-7988</Phone><Email>Hunter.Abell@leg.wa.gov</Email><FirstName>Hunter</FirstName><LastName>Abell</LastName></Member><Member><Id>34024</Id><Name>Emily
        Alvarado</Name><LongName>Representative Alvarado</LongName><Agency>House</Agency><Acronym>ALVA</Acronym><Party>D<[...]
